/* index.css */

div.rect_class {
    width: 300px;
    height: 100px;

    /* Make inner part of rectangle transparent */
    background-color: rgba(255, 255, 255, 0.1);

    /* Center vertically AND horizontally */
    position: absolute; /*it can be fixed too*/
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;

	/* This to solve "the content will not be cut when the window is smaller than the content": */
	max-width: 100%;
	max-height: 100%;
	overflow: auto;

	/* COOL BORDER */
	border-width: 25px;
    border-style: solid;
    /* You need to place border.png into img folder */
	border-image: url(../img/border.png) 50 round;
}

button.btn_class {
	width: 60px;
	height: 60px;

	position: absolute; /*it can be fixed too*/
	left: 0; right: 0;
	bottom: 50px;
	margin: auto;

	border: none;
	/* Make button circle */
	border-radius: 50px;
}